* {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
		"Helvetica Neue", sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

strong {
	color: #ff0033;
}

#slider {
	border: 3px solid black;
	box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
	width: 90%;
	max-width: 90%;
	height: 300px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	border-radius: 15px;
	background-color: rgba(0, 0, 0, 0.15);
	background-blend-mode: color;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 3em;
	font-weight: bold;
	color: white;
	text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
	position: relative;
}

#btnPrev,
#btnNext {
	z-index: 999;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.4);
	color: white;
	font-size: 0.5em;
	height: 50%;
	width: max-content;
	border-radius: 4px;
	transition: all 0.15s ease;

	&:hover {
		cursor: pointer;
	}

	&:active {
		transform: scale(0.98);
	}
}

#btnPrev {
	left: 10px;
}

#btnNext {
	right: 10px;
}

#load {
	width: 90%;
	height: 5px;
	border: 1px solid rgba(0, 0, 0, 0.5);
	position: absolute;
	bottom: 15px;
	border-radius: 10px;
	overflow: hidden;
}

#bar {
	width: 0%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.8);
}
