@import url("https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap");

:root {
	--font: "Google Sans", Arial, Helvetica, sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 100%;
	min-height: 100vh;
	background-color: white;
	background-image: radial-gradient(rgba(0, 0, 0, 0.6) 1px, transparent 1px);
	background-size: 80px 80px;
	font-family: var(--font);
	font-size: 1.1rem;
}

main {
	max-width: 400px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 24px;

	h1 {
		text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
	}

	h2 {
		margin-bottom: 4px;
	}

	.section-new-task {
		width: 100%;

		form {
			width: 100%;
			border-radius: 8px;
			background-color: rgb(92, 92, 255);
			padding: 20px;
			box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);

			.form-group {
				display: flex;
				gap: 4px;

				input {
					border-radius: 2px;
					width: 100%;
					padding: 12px;
					border-radius: 4px;
					border: 1px solid rgba(0, 0, 0, 0.5);
					font-size: 1rem;
				}

				button {
					border: none;
					background-color: white;
					border-radius: 4px;
					padding: 10px;
					font-size: 1.5rem;
					cursor: pointer;
					transition: all 0.15s ease-in-out;

					&:hover {
						background-color: white;
						color: rgb(92, 92, 255);
					}
				}
			}
		}
	}

	.section-tasks {
		width: 100%;

		#container-tasks {
			display: flex;
			flex-direction: column;
			gap: 10px;

			.task {
				display: flex;
				padding: 6px;
				justify-content: space-between;
				align-items: center;

				background-color: rgb(92, 92, 255);
				box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
				padding: 20px;
				border-radius: 8px;
				color: white;

				button {
					background-color: transparent;
					border: none;
					padding: 4px;
					cursor: pointer;
					font-size: 1.2rem;
					transition: all 0.15s ease-in-out;
					background-color: whitesmoke;
					border-radius: 4px;

					&:hover {
						box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
					}
				}
			}

			.completed {
				background-color: rgb(0, 230, 81);
			}
		}
	}
}

.hidden {
	display: none !important;
}
